In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import linear_model

In [11]:
dataset = pd.read_csv("homePrice02.csv")
dataset

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [12]:
# from sklearn.impute import SimpleImputer
# imputer = SimpleImputer(missing_values=np.nan, strategy='median')
# imputer.fit(dataset)
# dataset = imputer.transform(dataset)
# dataset
import math
medianBedrooms = math.floor(dataset.bedrooms.median())
medianBedrooms

4

In [15]:
dataset.bedrooms = dataset.bedrooms.fillna(medianBedrooms)
dataset

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [16]:
reg = linear_model.LinearRegression() #build
reg.fit(dataset[['area','bedrooms','age']],dataset.price)  #train

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [18]:
reg.intercept_

221323.00186540396

In [20]:
reg.predict([[3000,3,30]])

array([530725.43066664])